<h1>Vocabulary List</h1>
<%= render 'form' %>
<% @words.each do |word| %>
  <div>
    <h3><%= word.title %></h3>
    <p><%= word.description %></p>
    <%= link_to 'Delete', word_path(word), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
