<h1>Vocabulary List</h1>
<div data-insert-in-list-target="descriptions">
  <%= render partial: "form", locals: { word: Word.new } %>
  <% @words.each do |word| %>
    <div class="word">
      <h3><%= word.title %></h3>
      <p><strong>Definition:</strong> <%= word.description %></p>
      <%= link_to "Delete", word_path(word), method: :delete, remote: true, data: { turbo_frame: dom_id(word), action: "click->insert-in-list#deleteWord" } %>
    </div>
  <% end %>
</div>
